.animatedButton2 {
    display: inline-block;
    font-family: inherit;
    font-size: 1em;
    outline: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

.animatedButton2 {
    position: relative;
    min-width: 40px;
    min-height: 40px;
    width: 2.5em;
    height: 2.5em;
    background-color: #FFF;

    font-size: 42px;
}

.animatedButton2__text {
    display: inline-block;
    text-indent: -3125em;
}

.animatedButton2:before,
.animatedButton2:after,
.animatedButton2__text:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0.375em;
    right: 0.375em;
    height: 0.250em;
}

.animatedButton2:before,
.animatedButton2:after {
    transition: transform 300ms cubic-bezier(0.75, -0.6, 0.14, 1.59) 150ms;
    will-change: transform background-color;
}

.animatedButton2[data-active='true']:before,
.animatedButton2[data-active='true']:after {
    transition-duration: 150ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.animatedButton2--plus-to-check:before,
.animatedButton2--plus-to-check:after,
.animatedButton2--arrow-to-check:before,
.animatedButton2--arrow-to-check:after {
    background-color: #2AB2C0;
}

.animatedButton2--plus-to-check[data-active='true']:before,
.animatedButton2--plus-to-check[data-active='true']:after,
.animatedButton2--arrow-to-check[data-active='true']:before,
.animatedButton2--arrow-to-check[data-active='true']:after {
    background-color: #89B937;
}

.animatedButton2--plus-to-check[data-active='true']:before,
.animatedButton2--arrow-to-check[data-active='true']:before {
    transform: translate(calc(25% - .175em), -0.175em) rotate(-45deg) scale(1, 1);
}

.animatedButton2--plus-to-check[data-active='true']:after,
.animatedButton2--arrow-to-check[data-active='true']:after {
    transform: translate(-25%, 0.175em) rotate(45deg) scale(0.43, 1);
}

.animatedButton2--plus-to-check:before {
    transform: translate(0, 0) rotate(-90deg) scale(1, 1);
}

.animatedButton2--plus-to-check:after {
    transform: translate(0, 0) rotate(180deg) scale(1, 1);
}

.animatedButton2--arrow-to-check:before {
    transform: translate(0, 25%) rotate(-45deg) scale(0.5, 1);
}

.animatedButton2--arrow-to-check:after {
    transform: translate(0, -150%) rotate(45deg) scale(0.5, 1);
}

.animatedButton2--hamburger:before {
    background-color: #F8A036;
    transform: translateY(-250%);
}

.animatedButton2--hamburger:after {
    background-color: #2AB2C0;
    transform: translateY(150%);
    mix-blend-mode: multiply;
}

.animatedButton2--hamburger[data-active='true']:before,
.animatedButton2--hamburger[data-active='true']:after {
    transition-duration: 150ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.animatedButton2--hamburger[data-active='true']:before {
    transform: rotate(45deg) translate(0, 0);
}

.animatedButton2--hamburger[data-active='true']:after {
    transform: rotate(-45deg) translate(0, 0);
}

.animatedButton2--hamburger .animatedButton2__text:before {
    background-color: #FF3000;
    transform: translateY(-50%) scale(1);
    opacity: 1;
    transition: transform 150ms ease-in 300ms;
    will-change: transform opacity;
}

.animatedButton2--hamburger[data-active='true'] .animatedButton2__text:before {
    transform: translateY(-50%) scale(0);
    transition-timing-function: ease-out;
    transition-delay: 0s;
    opacity: 0;
}
