.buttonHoverEffect6{
    color: rgb(80, 80, 80);
    width: 150px;
    height: 150px;
    background: rgb(24, 24, 24);
    font-size: 2rem;
    font-family: cursive;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonHoverEffect6::before{
    content: '';
    position: absolute;
    width: 105%;
    height: 105%;
    background: linear-gradient(45deg,#3dec28,#00000000,#00000000,#1c58c9);
    transition: all .6s;
}
.buttonHoverEffect6:hover::before{
    transform: rotate(270deg);
}