.LoadingButton1 {
    width: 210px;
    height: 60px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    overflow: hidden;
    cursor: pointer;
    
    outline: none;
    border: 0px solid #49D75C;
    border-radius: 35px;
    background: #49D75C;
    color: #fff;

    font-size: 1rem;
    font-weight: bold;
    
    transition: all .25s ease;
}

.LoadingButton1:not(.loading):hover{
    box-shadow: 0px 10px 25px 0px rgba(73, 215, 92, .4);
}

.LoadingButton1:not(.loading):hover i {
    transform: translate(7px);
}

.LoadingButton1 i {
    pointer-events: none;
    z-index: 10;

    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0px;
    
    border-radius: 50%;
    background: inherit;
    
    font-size: 1.45rem;
    
    transition: all .25s ease;;
}

.LoadingButton1 .text {
    pointer-events: none;

    width: 130px;

    display: block;

    /* position: relative; */
    position: absolute;
    left: 60px;
    
    transition: all .25s ease;
}

.LoadingButton1 .loading-animate {
    pointer-events: none;
    z-index: 100;
    
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0px;
    left: 0px;

    opacity: 0;
    
    border-radius: 50%;
    
    transition: all .25s ease;
}

.LoadingButton1 .loading-animate:before {
    content: '';

    width: 44px;
    height: 44px;

    position: absolute;

    opacity: .6;

    border: 3px solid transparent;
    border-left: 3px solid #fff;
    border-radius: 50%;

    animation: LoadingButton1Animation infinite .8s linear;
}

.LoadingButton1 .loading-animate:after {
    content: '';

    width: 44px;
    height: 44px;

    position: absolute;

    border: 3px solid transparent;
    border-left: 3px solid #fff;
    border-radius: 50%;

    animation: LoadingButton1Animation infinite .8s ease .85s;
}

.LoadingButton1.loading {
    width: 60px;
}

.LoadingButton1.loading i {
    padding-bottom: 4px;
    padding-left: 3px;
    
    transform: rotate(-90deg);
}

.LoadingButton1.loading .text {
    transform: translate(-148px);
}

.LoadingButton1.loading .loading-animate {
    opacity: 1;
}

@keyframes LoadingButton1Animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}