body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #111;
}

.switcher {
    position: relative;
    height: 56px;
}

.switcher input {
    appearance: none;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    font-family: auto;
    font-weight: bold;
    box-shadow: 1px 6px 11px #000000;
}

.switcher input:before,
.switcher input:after {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #111;
}

.switcher input:before {
    content: "ON";
    left: 40px;
}

.switcher input:after {
    content: "OFF";
    right: 40px;
}

.switcher label {
    z-index: 1;
    position: absolute;
    top: 10px;
    bottom: 10px;
    border-radius: 20px;
}

.switcher.switcher-1 input {
    transition: 0.25s -0.1s;
}

.switcher.switcher-1 input:checked {
    background-color: #FFFFFF;
}

.switcher.switcher-1 input:checked:before {
    color: #111;
    transition: color 0.5s 0.2s;
}

.switcher.switcher-1 input:checked:after {
    color: #111;
    transition: color 0.5s;
}

.switcher.switcher-1 input:checked+label {
    left: 10px;
    right: 100px;
    background: #d2ab21;
    transition: left 0.5s, right 0.4s 0.2s;
}

.switcher.switcher-1 input:not(:checked) {
    background: #d2ab21;
    transition: background 0.5s -0.1s;
}

.switcher.switcher-1 input:not(:checked):before {
    color: #111;
    transition: color 0.5s;
}

.switcher.switcher-1 input:not(:checked):after {
    color: #1E1E1E;
    transition: color 0.5s 0.2s;
}

.switcher.switcher-1 input:not(:checked)+label {
    left: 100px;
    right: 10px;
    background: #FFFFFF;
    transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
}