.wavy {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}

.wavy span {
    position: absolute;
    top: calc(12px * var(--i));
    left: calc(12px * var(--i));
    right: calc(12px * var(--i));
    bottom: calc(12px * var(--i));
    border: 10px solid whitesmoke;
    border-top: 10px solid greenyellow;
    border-bottom: 10px solid greenyellow;
    border-radius: 50%;
    filter: hue-rotate(calc(90deg * var(--i)));
    animation: wavy 1s alternate infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes wavy {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}